<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mateusz Czarnecki">

    <title>Ionosphere Visualizer</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="spinner"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"><%= gettext "Toggle navigation" %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link("Ionosphere Visualizer", to: "/", class: "navbar-brand") %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link(gettext("Home"), to: "/") %></li>
            <li><%= link(gettext("Chart"), to: "/charts") %></li>
            <li><%= link(gettext("Map"), to: "/maps") %></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><a href="?locale=pl"><span><span class="flag-icon flag-icon-pl"></span> PL</span></a></li>
            <li><a href="?locale=en"><span><span class="flag-icon flag-icon-gb"></span> EN</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12" id="content">
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
